{% extends 'layout.html' %}
{% block article %}
<h1 class="subtitle is-1"> Welcome To Infinity Proxy! </h1>
<hr/>
The code for this image proxy can be found at <a href="https://gitlab.com/infinitysearch/infinity-image-proxy">
    https://gitlab.com/infinitysearch/infinity-image-proxy</a>.

<br><br>
{% endblock %}
