<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infinity Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" id="bulma_light" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <style>
        .Site {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        .Site-content {
            flex: 1;
        }
        .footer-settings {
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: white
        }
    </style>
</head>
<body class="Site">
<div class="Site-content">

    <div style="text-align: center; padding-bottom: 15px; margin-top: 50px;">
        <a href="/" style="display: inline-block"> <img
                style="vertical-align:middle; cursor: pointer; border-radius: 50%;"
                src="/static/logo.png" width="75px"
                height="75px" alt=""></a>

        <span class="rome" style="vertical-align:middle; font-size: 30px; padding-left: 20px;">  </span>
    </div>

    <div class="content" style="padding-left: 20%; padding-right: 20%">
        {% block article %}
        {% endblock %}
    </div>
</div>
<footer class="footer footer-settings">
    <div class="column is-half is-offset-one-quarter">
        <div class="columns is-vcentered">
            <a href="https://infinitysearch.co/about" class="column is-one-quarter">
                About
            </a>
            <a href="https://infinitysearch.blog" class="column is-one-quarter">
                Blog
            </a>
            <a href="https://infinitysearch.co/privacy" class="column is-one-quarter">
                Privacy
            </a>
            <a href="https://infinitysearch.co/contact" class="column is-one-quarter">
                Contact
            </a>
        </div>
    </div>
</footer>
</body>
</html>
